body {
	position: absolute;
	width: 98%;
	height: 90%;
	background-image: linear-gradient(76deg, #66CC99 60%, transparent 40%), url("../images/recycle.png");
	background-position: right;
}


.container2 {
  width: 85vh;
  font-family: Comic Sans MS;
  font-size: 20px;
  color: white;
  margin: 4% 0% 0% 10%;
  position: relative;
}

h3 {
  font-family: Courier;
  font-size: 20px;
}

.search_bar {
  width: 70%;
  height: 5%;
  border-width: 0.5px; 
  border-radius: .4em;
  outline: none;
}

.submit {
  width: 18vh;
  height: 5vh;
  font-size: 90%;
  font-family: Arial;
  background-color: #4B4B4B;
  color: white;
  border-width: 0px; 
  border-radius: .4em;
  outline: none;
  max-width: 100vh;
  margin: -2vh 0vh 0vh 17vh;
}

.search {
  margin: 18vh 0vh 0vh 2vh;
}
